.flex-container {
  display: flex;
  justify-content: space-around;
}

.header {
	text-align: center;
<<<<<<< HEAD
}

.center {
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
}
=======

}
>>>>>>> 7291f438a051f5f67cc38209605b81931312b2ac
